# DeepMind
dm-haiku==0.0.9
rlax==0.1.5
optax==0.1.5
chex==0.1.7

# Utils
jaxtyping==0.2.20
beartype==0.14.1
army-knife[wandb,tensorboard]==0.0.1 @ git+https://github.com/evangelos-ch/army-knife.git@f589626