# Jax
--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12_pip]==0.4.11

# DeepMind
dm-haiku==0.0.9
rlax==0.1.5
optax==0.1.5
chex==0.1.7

# Utils
jaxtyping==0.2.20
beartype==0.14.1
mission-control[wandb,tensorboard] @ git+https://github.com/evangelos-ch/mission-control.git@9844ca0
